*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000;
}
.container{
    width: 1356px;
    margin: auto;
}
.menu{
    margin-top: 20px;
    margin-bottom: 20px;
  
}
.menu ul li{
    
    text-align: right;
}
.menu img{
    padding-left: 30px;
}
/*slide*/
.slide{
    margin-top: 30px;
    position: relative;
}
.search{
    position: absolute;
    width: 150px;
    left: 300px;
    top: 50px;
}